.fancy-select,
.cd-select {
	position: relative;
	width: 100%;
	display: inline-block;
	z-index:10;
}

.fancy-select > span {
	width: 100%;
	height: 38px;
	line-height: 34px;
	color: #999;
	font-weight: 700;
	font-size: 12px;
	margin-top:0px;
	background: #fff;
	display: block;
	padding: 0 50px 0 10px;
	position: relative;
	cursor: pointer;
}

.fancy-select > span:after {
	content: '\25BC';
	position: absolute;
	right: 0px;
	top: 13%;
	width: 35px;
	text-align: center;
	font-size: 12px;
	padding: 10px;
	height: 70%;
	color:#da251c;
	line-height: 10px;
	border-left: 2px dotted #ddd;
}

.fancy-select.cd-active > span:after {
	content: '\25B2';
}

.fancy-select ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: block;
	position: absolute;
	z-index:10;
}

.fancy-select ul li {
	display: block;
	
}

.fancy-select ul li span {
	width: 100%;
	background: #fff;
	line-height: 34px;
	padding: 0 30px 0 30px;
	display: block;
	color: #666;
	cursor: pointer;
	font-weight: normal;
}

.fancy-select > span,
.fancy-select ul li span {
	-webkit-backface-visibility: hidden;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.fancy-select > span span[class^="icon-"],
.fancy-select > span span[class*=" icon-"]{
	padding: 0 30px 0 45px;
}

/* Select fallback styling */
.cd-select {
	border: 1px solid #ddd;
}
