@import url("font-awesome.css"); /* Using a url */
/* CSS Document Style */

/* Content */
.km-search-snippet .form-control {
	width:252px;
}
.content {position:relative;}
	.wing-ads-left {
		position:absolute;
		top:155px;
		left:190px;
	}
		.wing-ads-left img {display:block; margin-bottom:30px;}
	.wing-ads-right {
		position:absolute;
		top:155px;
		right:190px;
	}
		.wing-ads-right img {display:block; margin-bottom:30px;}

.km-featured-section {
	background:url(../images/featured-bg.jpg)no-repeat;
	height:477px;
	padding:50px 0;
}
	.km-featured-section h1 {color:#fff; padding:40px 0;}

.km-filter-box {
	background-color:#fff;
	border-radius:10px;
	-webkit-box-shadow: 1px 2px 17px -2px rgba(107,107,107,1);
	-moz-box-shadow: 1px 2px 17px -2px rgba(107,107,107,1);
	box-shadow: 1px 2px 17px -2px rgba(107,107,107,1);
	padding:20px;
	position:relative;
	margin-top:-120px;
	margin-bottom:30px;
}

.km-newsticker {
	margin-bottom:30px;
}

.km-promo-box {
	background-color:#fff;
	-webkit-box-shadow: 1px 2px 17px -2px rgba(107,107,107,1);
	-moz-box-shadow: 1px 2px 17px -2px rgba(107,107,107,1);
	box-shadow: 1px 2px 17px -2px rgba(107,107,107,1);
	margin-bottom:40px;
}
	.km-promo-box img {margin-bottom:15px;}
	.km-promo-box h3 {font-size:22px;}
	.km-promo-box h4, .km-promo-box h5, .km-promo-box h6 {white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
	.km-promo-box h4 {font-size:16px; font-family: 'sansationregular'; }
	.km-promo-box h5 {font-size:14px; font-family: 'sansationbold'; color:#f05922;}
	.km-promo-box h6 {font-size:18px; font-family: 'sansationbold'; color:#1b4792;}
	.km-promo-box .btn {margin-bottom:25px;}

.km-hot-deals {
	background-color:#f1c30f;
	padding:20px;
}
	.km-hot-deals img {margin-top:10px;}
	.km-hot-deals .btn {margin-bottom:0px; margin-top:15px;}

.km-partner-box {
	background-color:#f6f6f6;
	padding:15px 25px;
}
	.km-partner-items {padding:0 40px;}
	.km-partner-items .slick-prev, .km-partner-items .slick-next {
		top:50%;
	}
	.km-partner-items  .slick-prev {left:0px;}
	.km-partner-items  .slick-next {right:0px;}
	.km-partner-title-box {padding:25px 0; margin-bottom:0px;}
	.km-partner-items img {margin-bottom:0px; width:auto; padding:0 20px;}

.km-price-cut {text-decoration: line-through; color:#d64949; padding-right:5px;}

/* Ads Words */
.km-ads-words {
	margin-bottom:40px;
}
	.km-ads-words h5 {background-color:#f05922; padding:10px 15px; color:#fff; font-size:16px;}
	.km-ads-words p {font-size:13px; margin-bottom:30px;}

/* Why Kulci */
.km-whykulci-block {
	border:1px solid #e4e4e4;
	text-align:center;
	padding:20px 25px;
	margin-bottom:50px;
}
	.km-whykulci-block img {margin-bottom:15px;}
	.km-whykulci h2 {margin-bottom:30px;}

/* Partner Block */
.km-partner-block {
	background-color:#f05922;
	padding:50px 0;
	color:#fff;
	width:100%;
}
	.km-partner-block h2 {margin-bottom:30px;}
	.km-partner-block h4,.km-partner-block h5 {margin-bottom:20px;}
.km-partner-list {padding:0px; margin-bottom:30px;}
	.km-partner-list li{
		list-style-type:none;
		display:inline-block;
		width:32.33333333%;
		background:#fff;
		margin-bottom:5px;
	}

.km-list-check {width:100%; padding:0px;}
	.km-list-check li {width:49%; display:inline-block; margin-bottom:20px;}
	.km-list-check li i {padding-right:10px;}
	.km-list-check li::before {content: "\f058"; font-family: 'FontAwesome'; padding-right:10px; font-size:20px;}

/* Member Block */
.km-member-block {
	background-color:#1c4793;
	padding:50px 0;
	color:#fff;
	width:100%;
}
	.km-member-block h2 {margin-bottom:30px;}
	.km-member-list {background-color:#f05922; padding:20px; text-align:center; margin-bottom:30px;}
	.km-member-list img {margin-bottom:15px;}

/* Footer */
.footer {padding:50px 0;}
.km-footer-link {padding:0px;}
	.km-footer-link li {list-style-type:none; display:inline-block; width:48%;}
		.km-footer-link  a{color:#f05922;}
		.km-footer-link  a:hover{color:#ff8a5f;}

/* Additional Padding */
.md-padding {padding:25px;}
.b-sm-padding {padding-bottom:15px;}
.b-md-padding {padding-bottom:25px;}
.tb-sm-padding {padding-top:15px; padding-bottom:15px;}
.list-inline {margin-bottom:0px;}
.list-inline li{display:inline-block; padding:0 15px;}
	.list-inline li a img {margin-bottom:0px;}

/* Override Bootstrap Style */
.max-img-default {width:100%; height:auto;}
a {color:#1b4792; transition: all 0.3s ease;}
a:hover {text-decoration:none; color:#ff9900; transition: all 0.3s ease;}
.btn i {padding-right:10px;}
.navbar-nav li {padding:0 10px;}

.btn-primary {background-color:#f05922; border-color:#f05922;}
.btn-primary:hover {background-color:#ff7d4e; border-color:#ff7d4e;}
.btn-secondary {background-color:#be4519; border-color:#be4519;}
.btn-success, .btn-info {color:#fff!important;}


/* 2. TYPOGRAPHY */
@font-face {
    font-family: 'sansationbold';
    src: url('../fonts/Sansation-Bold-webfont.eot');
    src: url('../fonts/Sansation-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Sansation-Bold-webfont.woff2') format('woff2'),
         url('../fonts/Sansation-Bold-webfont.woff') format('woff'),
         url('../fonts/Sansation-Bold-webfont.ttf') format('truetype'),
         url('../fonts/Sansation-Bold-webfont.svg#sansationbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'sansation_lightlight';
    src: url('../fonts/Sansation-Light-webfont.eot');
    src: url('../fonts/Sansation-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Sansation-Light-webfont.woff2') format('woff2'),
         url('../fonts/Sansation-Light-webfont.woff') format('woff'),
         url('../fonts/Sansation-Light-webfont.ttf') format('truetype'),
         url('../fonts/Sansation-Light-webfont.svg#sansation_lightlight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'sansationregular';
    src: url('../fonts/Sansation-Regular-webfont.eot');
    src: url('../fonts/Sansation-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Sansation-Regular-webfont.woff2') format('woff2'),
         url('../fonts/Sansation-Regular-webfont.woff') format('woff'),
         url('../fonts/Sansation-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Sansation-Regular-webfont.svg#sansationregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.grandchild {
    float: left;
}
.clearboth {
    clear: both;
}

/* ----------------------- @media-queries ----------------------- */
@media (min-width: 1200px) {
	.wing-ads-left {
		display: none;
	}
	.wing-ads-right {
		display: none;
	}
}
